.main-app {
    min-width: 1024px;
    display: flex;
    /* justify-content: center; */
    height: 100%;
}
.app-left-container {
    height: 100%;
    width: 20%;
    box-sizing: border-box;
    border-right: 1px solid #cccccc;
    display: flex;
    flex-direction: column;
    /* background-color: #e6e6e6; */

}

.app-left-main {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    
}
.app-left-logo, .app-left-search, .app-letf-listen, .app-left-radio, .app-left-make-playlistcomp {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.app-left-logo > span, .app-letf-listen > span, .app-left-make-playlistcomp > span, .app-left-radio > span {
    margin-left: 0.5rem; 
}

.main-logo {
    width: 1.5rem;
    height: 1.5rem;
    box-sizing: border-box;
    border-radius: 0.2rem;
}
.radio-logo {
    width: 1.5rem;
}

.playmusic-logo {
    width: 1.5rem;

}
.musicnote {
    width: 1.5rem;
}

.app-left-make-playlistcomp {
    cursor: pointer;
}

/* playlist display */

.playlist-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}

.playlist-icon {
    width: 1.5rem;
}

.playlist-header > span{
    margin-left: 0.5rem; 
}

.playlist-content {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    width: 100%;
}

.playlist-content-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.playlist-content-name:hover {
    background-color: var(--melodify-banerDarkGray);
    color: #fff;
    
}
.updatebox-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* form */
.playlistform-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 250px;
    margin: 10px;
}

.playlistform-head {
    display: flex;
    flex-direction: column;
    height: 60px;
}

.playlistform-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.playlistform-header-btn-close {
    background: none;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
}

.playlistform-header-btn-close:hover {
    color: var(--melodify-red-close);
}

.playlistform-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--melodify-red-close);
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: 700;
}
.error-label {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.playlistform-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.playlistform-logo {
   width: 40%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.playlistform-logo > img {
    object-fit: cover;
    width: 114.4px;

}

.playlistform-content-form {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.playlistform-content-form-name, .playlistform-content-form-desc {
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.playlistform-content-form-name > input {
    width: 100%;
    border: 1px solid #cccccc;
    height: 30px;
    padding-left: 5px;
}

.playlistform-content-form-desc > textarea {
    width: 100%;
    height: 50px;
    border: 1px solid #cccccc;
    padding-left: 5px;
    resize: none;
}

.form-focus > input:focus {
    background-color: #d6d6d6;
}

.playlistform-content-form-desc > textarea:focus {
    background-color: #d6d6d6;
}

.playlistform-content-form-btn {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px 0px 0px;
}

.playlistform-content-form-btn > button {
    border: none;
    background-color: var(--melodify-banerDarkGray);
    border-radius: 5px;
    color: #fff;
    height: 25px;
    width: 60px;
    cursor: pointer;
}

.playlistform-content-form-btn > button:hover {
    background-color: var(--melodify-red-close);
}

/* Delete form */
.deleteplaylist-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin: 10px;
}
.deleteplaylist-btncontainer {
    display: flex;
    justify-content: flex-end;
}
.deleteplaylist-btn-close {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
.deleteplaylist-btn-close:hover {
    color: var(--melodify-red-close);
}

.deleteplaylist-content {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 10px 10px;
}

.delete-content {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    
}

.deleteplaylist-btn-delete {
    color: #fff;
    background-color: var(--melodify-banerDarkGray);
    border: #d60017;
    width: 50%;
    height: 30px;
    border-radius: 8px;
    cursor: pointer;
}
.deleteplaylist-btn-delete:hover {
    background-color: #d60017;
    font-weight: 700;
}

.app-right-container {
    width: 75%;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-signin {
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #d60017;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.8rem;
}

/* Login Modal */
.login-main-close {
    margin: 10px;
    cursor: pointer;   
}

.login-main-close:hover {
    color: var(--melodify-red-close);
}

.login-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.login-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #1d1d1f;
}

.login-header-logo > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.login-content {
    width: 50%;
    margin: 10px;
}


.login-info{
    width: 100%;
    height: 40px;
    margin: 15px 15px 0px 0px;
}

.login-info > input{
    width: 100%;
    border: 1px solid #d6d6d6;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

.login-info > input:focus{
    outline: none;
    border: 1px solid blue;
}

.login-info > button {
    width: 105%;
    border: 1px solid #d6d6d6;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;   
}

.login-info > button:hover {
    background-color: var(--melodify-red-close);
    color: white;
    cursor: pointer;

}
.login-change-signup, .signup-change {
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-change-signup > span, .signup-change > span {
    height: 100%;
    font-size: 0.8rem;
    text-decoration: underline;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;   
}

.login-change-signup > span:hover {
    color: var(--melodify-red-close);
}

.signup-change > span:hover {
    color: var(--melodify-red-close);
}

.login-error {
    color: var(--melodify-red-close);
    margin: 5px;
    font-weight: 500;
    font-size: 0.8rem;

}


/* SignUp Modal */
.signup-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 600px;
    height: 500px;
    padding: 20px;
    /* justify-content: center; */
    align-items: center;
}

.signup-header-logo > img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.signup-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.signup-info {
    width: 100%;
    height: 40px;
    margin: 15px 15px 0px 0px;
}

.signup-info > input {
    width: 100%;
    border: 1px solid #d6d6d6;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
}

.signup-info > input:focus {
    border: 1px solid blue;
}

.signup-info > button {
    width: 105%;
    border: 1px solid #d6d6d6;
    height: 100%;
    border-radius: 5px;
    padding-left: 10px;
    cursor: pointer;

}

.signup-info > button:hover {
    background-color: var(--melodify-red-close);
    color: white;
    cursor: pointer;

}

.signup-error-label {
    color: var(--melodify-red-close);
    font-weight: 500;
    font-size: 0.8rem;
    padding-top: 5px;
}

/* UPLOAD SONG */
.uploadsong-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uploadsong-content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    height: 350px;

}

.uploadinfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.uploadinfo > input {
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 5px 5px 0px 0px;
}



/* input[type='file'] {
    color: transparent;
} */
